<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>PlusBasic1</servlet-name>
		<servlet-class>com.example.myproject.PlusBasic1Servlet</servlet-class>
	</servlet>
<servlet>
   <servlet-name>Validation</servlet-name>
        <servlet-class>com.example.myproject.Validation</servlet-class>
</servlet>
	<servlet-mapping>
		<servlet-name>PlusBasic1</servlet-name>
		<url-pattern>/plusbasic1</url-pattern>
	</servlet-mapping>
<servlet-mapping>
  <servlet-name>Validation</servlet-name>
  <url-pattern>/validation</url-pattern>
</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
                <second-welcome-file>googlecd83791f95337cd0.html</second-welcome-file>
	</welcome-file-list>
</web-app>
